extends layout
block script
  script(src="js/remove-list.js")
block navbar
  include nav
block title
  p Your List
block content
  ul
    each list, index in lists
      div(id='list' + list.id)
        a(href='list/' + list.id)= list.name
        button(type="button", onclick="removeList(" + list.id + ");")
          span &times;
    else
      p No list.
    button(type= "button") +
    p Add a list
    button(type="button")
      span(aria-hidden="true") &times;
    form(style="margin-bottom:0;", method="POST", action="/list")
      label List Name
      input(required, placeholder="E.g: My new modern", type="text", name="name")
      label Searching/Giving
      input(type="checkbox", name="wanted")
      input(type="submit")
