extends layout
block script
  link(rel="stylesheet", type="text/css", href="css/app.css")
  script(src="js/remove-list.js")
  script(src="../js/geo.js")
block navbar
  include nav
block title
  p Your List
block content
  ul
    each list, index in lists
      .row.row-list(id='list' + list.id)
        a.offset-md-1.col-md-9(href='list/' + list.id)= list.name
        button.close.col-md-2.remove-list(type="button", aria-label="Close", data-id=list.id, onclick="removeList(" + list.id + ");")
          span(aria-hidden="true") &times;
        p.col-md-12(style="font-size:3.5rem;")= list.wanted ? "Searching" : "Giving"
        button.btn.btn-primary(type='button', style="font-size:2rem;" onclick="geo(" + list.id + ");") Geo Go !
    else
      p No list.
    button.btn.btn-circle.btn-xl(type= "button", data-toggle="modal", data-target="#exampleModalCenter") +
  #exampleModalCenter.modal.fade(tabindex="-1", role="dialog", aria-labelledby="exampleModalCenterTitle", aria-hidden="true")
    .modal-dialog.modal-dialog-centered.modal-lg(role="document")
      .modal-content
        .modal-header
          p#exampleModalLongTitle.modal-title Add a list
          button.close(type="button", data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") &times;
        .modal-body
          form(style="margin-bottom:0;", method="POST", action="/list")
            div.form-group.row
              label.col-md-6.col-form-label#labelName(for="listName") List Name
              .col-md-6
                input.form-control#listName(required, placeholder="E.g: My new modern", type="text", name="name")
            div.form-group.row
              label.col-md-12.col-form-label#labelName(for="listWanted") Searching/Giving
              .col-md-12
                input.form-control(data-toggle="toggle", type="checkbox", name="wanted", style="width=100px;height=50px;")
            div.form-group.row
              input.form-control(type="submit", style="font-size:2rem;", value="Add")
        .modal-footer
