html
  head
    title= "deck-poc"
    link(href="include/assets/css/material-kit.css?v=2.0.4", rel="stylesheet")
    script(src="assets/js/core/jquery.min.js", type="text/javascript")
    script(src="assets/js/core/popper.min.js", type="text/javascript")
    script(src="assets/js/core/bootstrap-material-design.min.js", type="text/javascript")
    script(src="assets/js/plugins/moment.min.js")
    script(src="assets/js/plugins/bootstrap-datetimepicker.js", type="text/javascript")
    script(src="assets/js/plugins/nouislider.min.js", type="text/javascript")
    script(async, defer, src="https://buttons.github.io/buttons.js")
    script(src="assets/js/material-kit.js?v=2.0.4", type="text/javascript")
    link(rel="stylesheet", type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css")
    block script
  body
    block navbar
    .jumbotron.vertical-center.other
      .main.container
        div.display-2
          block title
          br
          block content
