nav.navbar.navbar-expand-lg.navbar-light.bg-light(style="")
  a.navbar-brand(href="/app", style="font-size:3.25rem;") Deck-Poc
  button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation", style="padding:1.25rem 2.75rem;font-size:2.25rem;")
    span.navbar-toggler-icon
  #navbarNav.collapse.navbar-collapse
    ul.navbar-nav
      li.nav-item
        a.nav-link(href="/list", style="font-size:3rem;") Lists
      li.nav-item
        a.nav-link(href="/match", style="font-size:3rem;") Matches
      li.nav-item
        a.nav-link(href="/user", style="font-size:3rem;") Profile
      li.nav-item
        a.nav-link(href="/sing", style="font-size:3rem;") Disconnection
