extends layout
block script
  link(rel="stylesheet", type="text/css", href="css/profile.css")
  link(rel="stylesheet", type="text/css", href="css/app.css")
  link(rel="stylesheet", type="text/css", href="../css/profile.css")
  link(rel="stylesheet", type="text/css", href="../css/app.css")
  link(rel="stylesheet", type="text/css", href="css/all.css")
  link(rel="stylesheet", type="text/css", href="../css/all.css")
block title
  if owned
    p Your Profile
  else
    p Match Profile
block navbar
  include nav
block content
  p(style="font-size:3.5rem;")= profile.name
  p(style="font-size:2.5rem;")= profile.email
  p(style="font-size:2.5rem;")= profile.phone
  br
  if owned
    a.btn.btn-primary(href="/profiledit", style="font-size:2rem;") Modify profil
