extends layout
block script
block title
  p Your Profile
block navbar
  include nav
block content
  p= profile.name
  p= profile.email
  p= profile.phone
  if owned
    a(href="/profiledit"): button(type='button') modify profil >
