extends layout
block script
block title
  p Your Profile
block navbar
  include nav
block content
  p= profile.name
  p= profile.email
  p= profile.phone
  if owned
    a(href="/profiledit"): button.btn.btn-primary(type='button', style="font-size:2rem;") modify profil >
