extends layout
block script
block title
  p Your Profile
block navbar
  include nav
block content
  form(method='POST' action='/profiledit')
    div
      label Change name:
      input(type='text', name='name', value=profile.name)
    div
      label Change email:
      input(type='email', name='email', value=profile.email)
    div
      label New password:
      input(type='password' name='password')
    div
      label Confirm new password:
      input(type='password' name='confirmPassword')
    div
      label Change phone number:
      input(type='number', name='phone', value=profile.phone)
    button(type="submit") &gt;
