extends layout
block script
block title
  p Sign In
block content
  form(method='POST' action='/sing')
    div
      label Email:
      input(type='email', placeholder='name@email.com', name='email')
    div
      label Password:
      input(type='password', name='password')
    button(type='submit') Sign In
