extends layout
block script
block title
  p Sign Up
block content
  form(method='POST' action='/sung')
    div
      label Name:
      input(type='text', placeholder='first and last', name='name')
    div
      label Email:
      input(type='email', placeholder='name@email.com', name='email')
    div
      label Password:
      input(type='password', name='password')
    div
      label Confirm Password:
      input(type='password', name='confirmPassword')
    button(type='submit') Sign up
