extends ../layout
block script
  script(src="../js/search-card.js")
  script(src="../js/remove-card.js")
block title
  p= list.name
block navbar
  include ../nav
block content
  ul#cardList
    each card, index in list.cards
      .row.row-list(id="card" + card.cardId)
        .row.col-md-12
          p.offset-md-1.col-md-9(style="font-size:3rem;")= card.name
          button.close.col-md-2(type="button", aria-label="Close", onclick="removeCard(" + card.cardId + ", " + listId + ");")
            span(aria-hidden="true") &times;
        .row.col-md-8
          img.rounded.mx-auto.d-block(style="margin-top:30px; margin-bottom:30px;", src=card.imageUrl)
        .row.col-md-4
          p(style="align-self:center;") Need
    else
      p Your list is empty!
    button.btn.btn-circle.btn-xl#add(type= "button", data-toggle="modal", data-target="#exampleModalCenter") +
  #exampleModalCenter.modal.fade(tabindex="-1", role="dialog", aria-labelledby="exampleModalCenterTitle", aria-hidden="true")
    .modal-dialog.modal-dialog-centered.modal-lg(role="document")
      .modal-content
        .modal-header
          p#exampleModalLongTitle.modal-title(style="font-size:4rem;") Add a card
          button.close(type="button", data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") &times;
        .modal-body
          form(style="margin-bottom:0;")
            div.form-goup.row
              label.col-md-4.col-form-label#labelSearch(for="inputSearch") Search
              .col-md-8
                input.form-control#inputSearch(placeholder="E.g: squee", type="text", onkeyup="searchCard(this.value)")
            div.form-goup#ourContainer
        .modal-footer
