extends ../layout
block script
  script(src="../js/search-card.js")
  script(src="../js/remove-card.js")
block title
  p= list.name
block navbar
  include ../nav
block content
  ul#cardList
    each card, index in list.cards
      div(id="card" + card.cardId)
        div
          p= card.name
          button(type="button", onclick="removeCard(" + card.cardId + ", " + listId + ");")
            span &times;
        div
          img(src=card.imageUrl)
    else
      p Your list is empty!
    button#add(type= "button") +
    p Add a card
    button(type="button")
      span &times;
    form
      label Search
      input(placeholder="E.g: squee", type="text", onkeyup="searchCard(this.value)")
      div#ourContainer
